.box {
  width: 4em;
  height: 4em;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 3em;
  width: 3em;
}

.box-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    transform-origin: center;
    background-color: var(--box-animation-1);
    border-radius: 100%;
  }

  50% {
    background-color: var(--box-animation-2);
  }

  75% {
    transform: scale(1.1);
    background-color: var(--box-animation-3);
  }

  100% {
    transform: scale(1);
    background-color: var(--box-animation-4);
    border-radius: 0%;
  }
}

.box-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: var(--done-animation-1);
  }

  50% {
    transform: scale(1.2);
    background-color: var(--done-animation-2);
  }

  100% {
    transform: scale(1);
    background-color: var(--done-bar);
  }
}

.box-failure {
  animation-name: failure;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes failure {
  0% {
    transform: scale(0.3);
    background-color: var(--box-animation-2);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.5);
    background-color: var(--compare-bar);
    border-radius: 0%;
  }

  100% {
    transform: scale(1);
    background-color: var(--swap-bar);
    border-radius: 0%;
  }
}
