.navlist {
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-top: 0.5em;
  left: 23%;
}

.btn--primary {
  background-color: #d3d4d8;
  color: var(--dark-background);
  margin-left: 5em;
}

.btn--primary:focus,
.btn--primary:hover {
  background-color: #e4e6eb;
}

.btn--selected {
  background-color: var(--hover-color);
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  button {
    font-size: 1.5em;
  }

  .navlist {
    margin-top: 0.5em;
    left: 25%;
    top: 10%;
  }

  .btn--primary {
    margin-left: 3em;
  }
}
