button {
  border-radius: 1rem;
  background: none;
  font-size: 2em;
  padding: 1rem;
  border: none;
  opacity: 86%;
  min-width: 10em;
  color: var(--main-font-color);
  cursor: pointer;
}

button:focus,
button:hover {
  outline: none;
  opacity: 100%;
}

.navlist {
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-top: 0.5em;
  left: 20%;
}

.btn--primary {
  background-color: #d3d4d8;
  color: var(--dark-background);
  margin-left: 5em;
}

.btn--primary:focus,
.btn--primary:hover {
  background-color: #e4e6eb;
}

.btn--selected {
  background-color: var(--hover-color);
  opacity: 100%;
}
