.dropdown {
  min-width: 33rem;
  list-style: none;
  border-radius: 1rem;
  position: relative;
  display: flex;
  margin-left: 1em;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
}

.dropdown:hover {
  background-color: var(--hover-color);
  z-index: 1;
  cursor: pointer;
}

.dropdown--btn {
  margin: 0.3em 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 0.7em;
  left: 90%;
  font-size: 1.5em;
}

.dropdown--item {
  font-size: 2em;
  padding: 0.5em;
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;
}

.dropdown--item:hover {
  background-color: var(--secondary-background);
}

.dropdown--item.last--item {
  border-bottom: none;
}

@media screen and (max-width: 1400px) {
  .dropdown {
    min-width: 240px;
  }

  .dropdown--btn {
    margin-top: 0.7em;
    font-size: 1.4em;
  }

  .dropdown--item {
    font-size: 1.4em;
  }

  .arrow {
    top: 0.9em;
    left: 90%;
    font-size: 1.2em;
  }
}
