@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --dark-background: #121212;
  --secondary-background: #242526;
  --main-font-color: #e4e6eb;
  --hover-color: #3a3b3c;
  --secondary-color: #b0b3b8;
  --font-family: 'Open Sans', 'Roboto', 'Segoe UI', 'Oxygen', sans-serif;

  --main-bar: #00838f;
  --compare-bar: #d84315;
  --swap-bar: #d32f2f;
  --done-bar: #2e7d32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dark-background);
  color: var(--main-font-color);
}
