.main {
  display: flex;
  justify-content: center;
}

.generate {
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 1em;
  background-color: #d3d4d8;
  color: var(--dark-background);
}

.list {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  transition: all 0.3s ease-in;
  left: 20%;
  bottom: 0;
}

.bar {
  width: 1em;
  height: 0px;
  border: 1px solid var(--dark-background);
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  transition: all 0.3s ease-in;
  background-color: var(--secondary-color);
}

.bar2 {
  width: 1em;
  height: 0px;
  border: 1px solid var(--dark-background);
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  background-color: var(--secondary-color);
}
